@media (max-width: 568px){

    .home{
        flex-direction: column;
        margin-top: 5%;
        padding: 0 5%;
    }

    .home__left{
        width: 100%;
    }

    .home__profile{
        padding: 10px;
        gap: 10px;
        width: 95%;
    }

    .home__profile p{
        font-size: 0.9rem;
    }

    .home__texts h1{
        font-size: 1.8rem;
        text-align: center;
    }
    
    .home__texts p{
        font-size: 1rem;
        text-align: justify;
    }

    .home__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    
    .home__container section{
        max-width: 25%;
        gap: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home__container hr{
        display: none;
    }
    
    .home__container section i{
        font-size: 0.6rem;
        width: 15%;
    }
    
    .home__container section p{
        font-size: 0.4rem;
        width: 40%;
    }
    
    .home__container section span{
        font-size: 0.6rem;
    }
    
    .home__texts button{
        font-size: 1rem;
        width: 100%;
    }

    .home__texts button:hover{
    transform: translateX(0px);
    }
    
    .home__texts button hr{
        height: 80%;
    }
    
    .home__down{
        font-size: 2rem;
        margin-top: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home__right nav{
        display: none;
    }

    .home__right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home__right img{
        width: 80%;
        height: 100%;
        object-fit: cover;
    }
    
    .home__right div i{
        font-size: 1.2rem;
    }
    
    .home__right div span{
        font-size: 0.8rem;
    }
    
    .home__right nav i{
        font-size: 1.8rem;
    }
}