@media (max-width: 568px){

    .home{
        flex-direction: column !important;
        margin-top: 5% !important;
        padding: 5% 5% !important;
        gap: 10px!important;  
    }

    .home__left{
        width: 100% !important;
        gap: 30px!important;
    }

    .home__profile{
        padding: 10px !important;
        gap: 10px !important;
        width: 95% !important;
    }

    .home__profile p{
        font-size: 0.9rem !important;
    }

    .home__texts h1{
        font-size: 2.1rem !important;
        text-align: center !important;
    }
    
    .home__texts p{
        font-size: 1rem !important;
        text-align: justify !important;
    }

    .home__container{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        gap: 5px !important;
    }
    
    .home__container section{
        max-width: 25% !important;
        gap: 5px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .home__container hr{
        display: none !important;
    }
    
    .home__container section i{
        font-size: 0.6rem !important;
        width: 15% !important;
        display: none;
    }
    
    .home__container section p{
        font-size: 0.6rem !important;
        width: 60% !important;
    }
    
    .home__container section span{
        font-size: 0.7rem !important;
    }
    
    .home__texts button{
        font-size: 1rem !important;
        width: 60% !important;
        margin: 0 auto;
    }

    .home__texts button:hover{
        transform: translateX(0px) !important;
        background-color: #fff!important;
        color: #000!important;
    }

    .home__texts button:hover i{
        color: #000!important;
    }

    .home__texts button:hover hr{
        color: #000!important;
        background-color: #000!important;
        border-color: #000!important;
    }
    
    .home__texts button hr{
        height: 80% !important;
    }
    
    .home__down{
        font-size: 2rem !important;
        margin-top: 0px !important;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right nav{
        display: none !important;
    }

    .home__right{
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right img{
        width: 100% !important;
        height: 100% !important;
        object-fit: contain!important;
    }
    
    .home__right div i{
        font-size: 1.2rem !important;
    }
    
    .home__right div span{
        font-size: 0.8rem !important;
    }
    
    .home__right nav i{
        font-size: 1.8rem !important;
    }
}
