@media (max-width: 568px){

    .home{
        flex-direction: column !important;
        margin-top: 5% !important;
        padding: 5% 5% !important;
        gap: 10px!important;  
    }

    .home__left{
        width: 100% !important;
        gap: 30px!important;
    }

    .home__profile{
        padding: 10px !important;
        gap: 10px !important;
        width: 95% !important;
    }

    .home__profile p{
        font-size: 0.9rem !important;
    }

    .home__texts h1{
        font-size: 2.1rem !important;
        text-align: center !important;
    }
    
    .home__texts p{
        font-size: 1rem !important;
        text-align: justify !important;
    }

    .home__container{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        gap: 5px !important;
    }
    
    .home__container section{
        max-width: 25% !important;
        gap: 5px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .home__container hr{
        display: none !important;
    }
    
    .home__container section i{
        font-size: 0.6rem !important;
        width: 15% !important;
        display: none;
    }
    
    .home__container section p{
        font-size: 0.6rem !important;
        width: 60% !important;
    }
    
    .home__container section span{
        font-size: 0.7rem !important;
    }
    
    .home__texts button{
        font-size: 1rem !important;
        width: 60% !important;
        margin: 0 auto;
    }

    .home__texts button:hover{
        transform: translateX(0px) !important;
        background-color: #fff!important;
        color: #000!important;
    }

    .home__texts button:hover i{
        color: #000!important;
    }

    .home__texts button:hover hr{
        color: #000!important;
        background-color: #000!important;
        border-color: #000!important;
    }
    
    .home__texts button hr{
        height: 80% !important;
    }
    
    .home__down{
        font-size: 2rem !important;
        margin-top: 0px !important;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right nav{
        display: none !important;
    }

    .home__right{
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right img{
        width: 100% !important;
        height: 100% !important;
        object-fit: contain!important;
    }
    
    .home__right div i{
        font-size: 1.2rem !important;
    }
    
    .home__right div span{
        font-size: 0.8rem !important;
    }
    
    .home__right nav i{
        font-size: 1.8rem !important;
    }
}


@media (min-width: 569px) and (max-width: 768px) {

    .home{
        flex-direction: column !important;
        margin-top: 5% !important;
        padding: 5% 5% !important;
        gap: 10px!important;  
    }

    .home__left{
        width: 100% !important;
        gap: 30px!important;
    }

    .home__profile{
        padding: 10px !important;
        gap: 10px !important;
        width: 95% !important;
    }

    .home__profile p{
        font-size: 1.2rem !important;
    }

    .home__texts h1{
        font-size: 3rem !important;
        text-align: center !important;
    }
    
    .home__texts p{
        font-size: 1.6rem !important;
        text-align: justify !important;
    }

    .home__container{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        gap: 5px !important;
    }
    
    .home__container section{
        max-width: 30% !important;
        gap: 5px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    
    .home__container section i{
        font-size: 0.8rem !important;
        width: 10% !important;
    }
    
    .home__container section p{
        font-size: 0.8rem !important;
        width: 60% !important;
    }
    
    .home__container section span{
        font-size: 0.9rem !important;
    }
    
    .home__texts button{
        font-size: 1rem !important;
        width: 30% !important;
        margin: 0 auto;
    }

    .home__texts button:hover{
        transform: translateX(0px) !important;
        background-color: #fff!important;
        color: #000!important;
    }

    .home__texts button:hover i{
        color: #000!important;
    }

    .home__texts button:hover hr{
        color: #000!important;
        background-color: #000!important;
        border-color: #000!important;
    }
    
    .home__texts button hr{
        height: 80% !important;
    }
    
    .home__down{
        font-size: 2rem !important;
        margin-top: 0px !important;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right nav{
        display: none !important;
    }

    .home__right{
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right img{
        width: 100% !important;
        height: 100% !important;
        object-fit: contain!important;
    }
    
    .home__right div i{
        font-size: 1.2rem !important;
    }
    
    .home__right div span{
        font-size: 0.8rem !important;
    }
    
    .home__right nav i{
        font-size: 1.8rem !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .home{
        flex-direction: column !important;
        margin-top: 5% !important;
        padding: 5% 5% !important;
        gap: 10px!important;  
    }

    .home__left{
        width: 100% !important;
        gap: 30px!important;
    }

    .home__profile{
        padding: 10px !important;
        gap: 10px !important;
        width: 95% !important;
    }

    .home__profile p{
        font-size: 1.2rem !important;
    }

    .home__texts h1{
        font-size: 3rem !important;
        text-align: center !important;
    }
    
    .home__texts p{
        font-size: 1.6rem !important;
        text-align: justify !important;
    }

    .home__container{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        gap: 5px !important;
    }
    
    .home__container section{
        max-width: 30% !important;
        gap: 5px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    
    .home__container section i{
        font-size: 0.8rem !important;
        width: 10% !important;
    }
    
    .home__container section p{
        font-size: 0.8rem !important;
        width: 60% !important;
    }
    
    .home__container section span{
        font-size: 0.9rem !important;
    }
    
    .home__texts button{
        font-size: 1rem !important;
        width: 30% !important;
        margin: 0 auto;
    }

    .home__texts button:hover{
        transform: translateX(0px) !important;
        background-color: #fff!important;
        color: #000!important;
    }

    .home__texts button:hover i{
        color: #000!important;
    }

    .home__texts button:hover hr{
        color: #000!important;
        background-color: #000!important;
        border-color: #000!important;
    }
    
    .home__texts button hr{
        height: 80% !important;
    }
    
    .home__down{
        font-size: 2rem !important;
        margin-top: 0px !important;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right nav{
        display: none !important;
    }

    .home__right{
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .home__right img{
        width: 100% !important;
        height: 100% !important;
        object-fit: contain!important;
    }
    
    .home__right div i{
        font-size: 1.2rem !important;
    }
    
    .home__right div span{
        font-size: 0.8rem !important;
    }
    
    .home__right nav i{
        font-size: 1.8rem !important;
    }
}

@media (min-width: 1025px) and (max-width: 1270px){

    .home{
        margin-top: 5% !important;
        padding: 0% 10% !important;
        gap: 10px!important;  
        align-items: flex-start!important;
    }

    .home__left{
        width: 50% !important;
        gap: 30px!important;
    }

    .home__profile{
        padding: 10px !important;
        gap: 10px !important;
        width: 100% !important;
    }

    .home__profile p{
        font-size: 1rem !important;
    }

    .home__texts h1{
        font-size: 2.2rem !important;
        text-align: left!important;
    }
    
    .home__texts p{
        font-size: 1rem !important;
        text-align: left !important;
    }

    .home__container{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        gap: 10px !important;
    }
    
    .home__container section{
        max-width: 30% !important;
        gap: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    
    .home__container section i{
        font-size: 0.8rem !important;
        width: 10% !important;
    }
    
    .home__container section p{
        font-size: 0.7rem !important;
        width: 60% !important;
    }
    
    .home__container section span{
        font-size: 0.9rem !important;
    }
    
    .home__texts button{
        font-size: 1rem !important;
        width: 50% !important;
    }

    .home__texts button:hover{
        transform: translateX(0px) !important;
        background-color: #fff!important;
        color: #000!important;
    }

    .home__texts button:hover i{
        color: #000!important;
    }

    .home__texts button:hover hr{
        color: #000!important;
        background-color: #000!important;
        border-color: #000!important;
    }
    
    .home__texts button hr{
        height: 80% !important;
    }
    
    .home__down{
        font-size: 2rem !important;
        margin-top: 20px !important;
        width: 100% !important;
        display: flex !important;
    }

    .home__right nav{
        display: none !important;
    }

    .home__right{
        width: 40% !important;
        height: 100%!important;
        margin-top: -10%!important;
        display: flex !important;
        align-items: flex-start!important;
        justify-content: flex-start !important;
    }

    .home__right img{
        width: 100% !important;
        height: 100% !important;
        object-fit: contain!important;
    }
    
    .home__right div i{
        font-size: 1.2rem !important;
    }
    
    .home__right div span{
        font-size: 0.8rem !important;
    }
    
    .home__right nav i{
        font-size: 1.8rem !important;
    }
}

@media (min-width: 1270px) and (max-width: 1440px){
    .home{
        height: 100vh;
        padding: 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        max-width: 100%;
        overflow: hidden;
    }
    
    .home__left{
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .home__profile{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 80%!important;
    }
    
    
    .home__texts{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .home__texts b {
        display: inline-block;
        font-weight: 800;
    }
    
    .home__texts h1{
        line-height: 100%;
        font-weight: 800;
        font-size: 2.2rem!important;
    }

    .home__texts p{
        font-size: 1rem!important;
    }
    
    .home__texts button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 50%!important;
        border: none;
        color: #000;
        transition: all .3s;
        font-weight: 800;
    }
    
    .home__texts button:hover{
        transform: scale(1.05) translateX(5px);
    }
    
    .home__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
    
    .home__container section{
        display: flex;
        align-items: center;
        gap: 10px!important;
        padding: 10px;
        border: 1px solid #000;
        width: 30%;
        height: 50%;
        box-shadow: 2px 2px 0 #000;
    }
    
    .home__container section hr{
        height: 100%;
    }
    
    .home__container section span{
        font-weight: 900;
        display: inline-block;
        }
    
    .home__right{
        height: 90%;
        margin-top: 5%;
        width: 50%;
        position: relative;
    }
    
    .home__right nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        right: -15%!important;
        top: 15%!important;
        transform: translateY(-50%);
        padding: 15px;
    }
    
    .home__right nav a{
        transition: all .2s ease-in-out;
    }
    
    .home__right div span{
        font-weight: 800;
    }
    
    .home__image{
        width: 90%;
        top: -5%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: imageAnime 10s linear infinite alternate-reverse;
    }
    
    .home__image img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
    }

    .home__container section i{
        font-size: 1rem!important;
        width: 20%;
    }
    
    .home__container section p{
        font-size: 0.7rem!important;
        width: 40%;
    }
    
    .home__container section span{
        font-size: 0.7rem!important;
    }
    
    .home__texts button{
        font-size: 1rem;
    }
    
    .home__texts button hr{
        height: 80%;
    }
    
    .home__down{
        font-size: 2rem;
        margin-top: 40px;
    }
    
    .home__right div i{
        font-size: 1.2rem;
    }
    
    .home__right div span{
        font-size: 0.8rem;
    }
    
    .home__right nav i{
        font-size: 1.8rem;
    }
    
}

@media (min-width: 1441px){

}