.web{
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    background-size: contain;
}

.web__container{
    width: 100%;
    height: 90%;
    position: relative;
}

.web__container .web__cta{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}

.web__cta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 35%;
    height: 8%;
    border: none;
    font-weight: 800;
    cursor: none;
    position: relative;
    z-index: 10;
    transition: all .2s;
}

.web__cta:hover{
    transform: scale(1.05) translateX(5px);
}

.web__cta hr{
    height: 80%;
}

.web__nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 10%;
}

.web__nav button{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: all .2s;
}

.web__btn{
    cursor: none;

}

.web__container__center{
    height: 80%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.web__title{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.web__title h1{
    font-weight: 800;
}

.web__title p{
    font-weight: 300;
}

.web__title p b{
    display: inline-block;
    font-weight: 800;
}

.web__title h1 b{
    display: inline-block;
}

.web__cards{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.web__content {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    display: none;
  }
  
  .web__content.active {
    opacity: 1;
    transform: translateX(0);
    display: flex;
  }


.web__card{
    min-width: 100%;
    height: 80%;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    transition: .6s all;
}

.web__card img{
    width: 50%;
    height: 80%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 5px #00000010);
}

.web__card__texts{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.web__card__texts img{
    width: 20%;
    height: 10%;
    object-fit: cover;
    filter: none;
}

.web__card__texts button{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 800;
    cursor: none;
    z-index: 10;
    transition: all .1s ease-in-out;
}

.web__card__texts button:hover{
    transform: scale(1.02);
}

.web__card__texts h2{
    font-weight: 800;
}

.web__card__texts p{
    font-weight: 300;
    text-align: left;
}

.web__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.web__slider__container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.web__slider__buttons {
    position: absolute;
    bottom: 10px; 
    right: -3%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; 
}

.web__slider__btn {
    padding: 10px;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

.web__slider__btn:hover{
    transform: scale(1.05);
}


.web__slider__btn i {
    margin: 0; /* remover margens dos ícones */
}

.sites__down{
    width: 100%;
    animation: rolarBaixo 1s infinite linear alternate-reverse;
    cursor: none;
}