@media (max-width: 568px){
    .web{
        height: 100vh;
        max-width: 100%;
        border: 1px solid red;
        padding: 0 5%!important;
        flex-direction: column!important;
    }

    .web__container{
        width: 100%;
        height: 100%!important;
        border: 1px solid red;
        flex-direction: column!important;
    }

    .web__container .web__cta{
        position: relative!important;
        width: 60%!important;
        margin: 0 auto;
        border: 1px solid red;
    }

    .web__nav{
        border: 1px solid red;
        width: 100%!important;
    }

    .web__container__center{
        border: 1px solid red;
        flex-direction: column!important;
        gap: 5px!important;
    }

    .web__title{
        height: 100%;
        width: 100%!important;
        gap: 15px!important;
        border: 1px solid red;
    }

    
    .web__cards{
        width: 100%!important;
        border: 1px solid red;
        height: 50%!important;
    }

    .web__card{
        min-width: 100%;
        border: 1px solid red;
        height: 100%!important;
        margin-top: 5%;
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        flex-direction: column;
    }
    


    .web__title h1{
        font-size: 2.2rem!important;
        text-align: center;
        font-weight: 800;
    }
    
    .web__title p{
        font-size: 0.9rem!important;
        text-align: justify;
    }
    
    .web__card__texts h2{
        font-size: 1.4rem;
    }
    
    .web__card__texts p{
        font-size: 0.9rem;
    }
    
    .sites__down{
        font-size: 2rem;
        margin-top: 40px;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .web__nav button{
        font-size: 0.8rem!important;
        font-weight: 800;
    }
    
    .web__nav button i{
        font-size: 1.2rem;
    }
    
    .web__cta i{
        font-size: 1.4rem;
    }
    
    .web__cta{
        font-size: 1rem;
    }
    
    .web__card__texts button{
        font-size: 0.9rem;
    }
    
    .web__card__texts button i{
        font-size: 1rem;
    }

}